<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteCond %{HTTP_HOST} ^(tangentpodcast\.com)(:80)? [NC]
RewriteRule ^(.*) http://www.tangentpodcast.com/$1 [R=301,L]
DirectoryIndex index.html
order deny,allow
