body{
 margin: 0;
}
nav{
  background-color: blue;
  overflow: hidden;
  margin-bottom: 50px;
}
nav ul{
    padding:20;
    font-size: 20px;
  line-height: 1.6em;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
    text-align: center;
}
nav li{
margin-left: 1px;
margin-right: 10px;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
    text-align: center;
}
nav a{
    font-weight: bolder;
  text-decoration: none;
  color:white;
  text-align: center;
  font-size: 20px;
line-height: 1.6em;
}
nav a:hover{
  color:#EB1919;
  text-decoration: none;
}
.title{
  vertical-align: middle;
  position:relative;
  top:15;
    text-transform:none;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  text-align: center;
}
a {
   color:#EB1919;
  text-decoration: none;
  font-size: 20px;
  margin:auto;
font-family: 'Open Sans', sans-serif;
}
 a:hover{
  color:#E86262;
  text-decoration: none;
}
nav a:hover{
  color:#EB1919;
  text-decoration: none;
}
p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 5%;
    color:black;
    line-height: 1.5;
    margin:0;
}
iframe{
}
.episodeHead{
  margin-bottom: none;
}
.date{
  color:#15E6EE;
  text-align: center;
  margin: none;
}
.showNotes {
  width: 100%;
  margin-left:5%;
  margin-right: 5%;
}
.musicCredits{
  font-size: 20px;
  font-weight: bold;
    margin-left: 10%;
    margin-top: 1%;
}
.links{
  font-size: 20px;
  font-weight: bold;
    margin-left: 10%;
}
.logo{
  width:200px;
  border-radius: 50%;

} img{
  border-width: thick;
  border-color: red;
display: inline-block;
}
article{
margin-left: 20%;
margin-right:20%;
  margin-bottom: 5%;
}

aside{
    display: inline-block;
     float:right;
  color:black;
  width : 25%;
  position:relative;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
    margin:0;
}

footer{
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
  text-align: center;
    padding:5;
    background-color: blue;
    color:white;
}
@media screen and (max-width:720px){
  img {
    max-width:100%;
  margin:0;
  }
  aside{
    display: inline-block;
  color:black;
  width : 100%;
  text-align: center;
  padding: 33px;
  margin:0;
  padding-left: 10%;
  padding-bottom: 10%;
  }
}
